<%= paginate @products %>
<div id="product-page" class="row">
  <% @products.each do |product| %>
    <div class="card col-md-3 text-center">
      <img class="card-img-top" src="<%=product.imgUrl%>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <h5 class="card-title"><%= product.price %></h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <% end %>
</div>
<%= paginate @products %>
